<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="icon" type="image/PNG" href="Media/fevicon.png">
</head>


<body class="body1">
    <!-- header start here -->
    <header>

    </header>



    <!--main starts here -->
    <main>
        <div class="hcenter">

            <div class="bio blur "><b>Hello , My name is Vedant Garode i am currently pursuing computer
                    engineering from <a style="color: rgb(133, 187, 238)" href="https://engg.dypvp.edu.in/">Dy Patil
                        Institute
                        of Technology.</a>
                    Currently i am in Third Year and actively looking for interships and work
                    opportunities.</b>
            </div>
            <table class="center">
                <tr>




                    <td>
                        <div>
                            <a href=" profile.html"> <img class="Wborder headsize zoom" src="Media/Dporwot.jpg"> </a>
                        </div>
                    </td>



                    <td>
                        <div>
                            <a href="Docs/VedantResumeFinal.pdf" class="link " target="_blank"><img
                                    class="Rborder headsize zoom" src="Media/PngItem_200740.png"></a>
                        </div>
                    </td>

                </tr>

                <!-- <td>
                    <div>
                        <a href="project.html"><img class="Rborder childsize zoom" src="Media/pngwing.com.png"
                                alt="Company Management"></a>
                    </div>
                </td> -->
            </table>
        </div>
    </main>



    <!-- footer starts here -->
    <footer>
    </footer>






</body>

</html>